build/
*.o
*.so
*~
/csgi/
/html/
/latex/
doxyfile
*.a
*.bin
.project
/.settings/
.vs/
Release/
Debug/
*.db
*.opendb
.vscode/
deb/
deb2/
.vcpkg/
vcpkg/
vswhere.exe
winget.js
x86-windows-bootstrapped.txt
x64-windows-bootstrapped.txt
vagrant/*/.vagrant/
ubuntu-xenial-16.04-cloudimg-console.log
*.vcxproj.filters
*.vcxproj.user